.noscroll { overflow: hidden; }

.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba($black,.9);
  transform: translateY(calc(22px - 100% + 2em));
  transition: all ease-in-out 250ms;
  overflow: hidden;
  .nav-list{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a{
      text-decoration: none;
      @include sans-serif($fs:2.2em,$ls:.15em,$color:$white);
    }
    li{
      padding: 2em;
    }
  }
  .nav-btn{
    transition: all ease-in-out 500ms;
    padding: .15em 1em;
    svg{
      height: 35px;
      width: 35px;
    }
  }
}

.nav_open{
  .nav-list{
    padding-top: 2.5em;
  }
  transform: translateY(0);
  .nav-btn{
    margin: 0 calc(50vw - 40px);
  }
}
